body{
     overflow: hidden;
     min-height: 100vh;
     min-width: 100vh;
}

.bulle{
     position: absolute;
     border-radius: 350px;
     background: rgba(255, 208, 0, 0.733);
     opacity: 0;
     animation: animate 8s forwards;
     filter: hue-rotate(0deg);
     cursor: crosshair;
}
@keyframes animate {
     to{
          top: -10px;
          left: var(--left);
          transform: translateY(-75%);
          opacity: 1;
          filter: hue-rotate(920deg);
     }
}
h3{
     font-size: 7rem;
     opacity: 0.4;
     position: absolute;
     top: 50%;
     left: 50%;
     z-index: 2;
}